server/HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
dist/
node_modules/
bin/
*.env

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Sonarqube ###
client/coverage/lcov-report
client/coverage/clover.xml
client/coverage/coverage-final.json
client/coverage/lcov.info

client/npm-debug.log

server/src/main/resources/application.properties
