#map {
    height: 100%;
}

.mapPageContainer {
    height: 100%;
}

.styleSelectorDiv {
    background-color: white;
    margin-top: 10px;
    margin-right: 10px;
    padding: 0 20px;
    border-radius: 15px;
    display: none;
}

#map .styleSelectorDiv {
    display: block;
}
#legend {
    background-color: white;
    font-family: Roboto, sans-serif !important;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}
#legend h2 {
    margin-top: 0;
    font-size: 16px !important;
}
#legend img {
    vertical-align: middle;
    height: 40px;
    margin: 2px 0;
}
#legend h3 {
    float: right;
    text-align: left;
}
#legendButton {
    visibility: hidden;
    margin-bottom: -335px;
    margin-right: 10px;
}