/* -- Main Containers ---- */
.profileBanner {
    width: 100%;
    height: 300px;
    background: url(../../images/user_banner.jpg) no-repeat center center;
    background-size: cover;
}
.darkModeBanner{
    background: url(../../images/user_banner_dark.jpg) no-repeat center center;
    background-size: cover;
}
.profileContainer {
  width: calc(100% - 40px);
  max-width: 1230px;
  margin: 0 auto;
  display: block;
  position: relative;
  top: -61px;
}
.leftSidebarContainer {
  width: 269px;
  float: left;
}
.rightSidebarContainer {
  width: 269px;
  float: right;
}
.centreContainer {
    width: calc(100% - 558px);
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
.profileModule {
    width:100%;
    background:white;
    border-radius: 14px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
    overflow: hidden;
}
.profileModule h1 {
    font-size: 17px;
    padding: 20px;
    color: rgba(0,0,0,0.85);
}
.profileBackToSearchButton {
    position: absolute;
    top: 50px;
    left: 50px;
    padding: 6px 16px;
}
.profileAddActivityButton {
    padding: 6px 16px;
}

/* -- Content containers ---- */
/* Left Sidebar */
.profileInfoContainer {
    margin: auto;
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
    border-radius: 14px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
}
.profileInfoContainer hr {
    border: 0;
    height: 0;
    border-top: 1px solid #dedede;
    border-bottom: none;
    margin: 5px;
}
.profileInfoContainer h3 {
    font-weight: 500;
}

.adminRightsButton {
    background-color: #1dca92;
    color: white;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    border: 2px solid #1dca92;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    border-radius: 100px;
    padding: 8px 18px;
    margin-left: 61px;
    margin-top: 11px;
}

.adminRightsResult {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    margin: 15px;
    color: #4CAF50;
    text-align: center;
}

.adminRightsButton:hover {
    background: #fff;
    color:#1dca92;
}
/* Centre */
.profileHeaderContainer {
    width: 100%;
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
    border-radius: 14px;
    position: relative;
    margin: auto;
}
.profileMainInfoIcon {
    padding: 16px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #1cca92;
    fill: white !important;
    float: left;
    text-align: center;
    box-sizing: content-box;
}
.profileMainInfoContainer h1 {
    font-size: 18px;
    font-weight: 500;
}
.profileMainInfoContainer h2 {
    color: #7f7f7f;
    font-size: 13px;
    font-weight: 500;
}
.profileHeaderContainer .genericConfirmButton {
    padding: 4px 16px;
    right: 20px;
    top: 50%;
}
.profileActivitiesContainer {
    background: var(--v-secondary-base);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
    border-radius: 14px;
    position: relative;
    margin-top: 10px;
    padding: 20px;
    margin-bottom: 50px;
}
.profileActivitiesContainer h2 {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 12px;
}
.profileActivitiesContainer h3 {
    font-size: 17px;
}
.profileActivitiesContainer .genericConfirmButton {
    padding: 4px 14px;
    font-size: 13px;
    float: right;
}
.activityTypesList {
    margin-left: 40px;
    margin-bottom: 15px;
}
.activityTypesList li {
    font-size: 14px;
}
.activitySummaryContainer {
    margin-top: 13px;
    position: relative;
    height: 50px;
}
.profileActivitiesContainer h4 {
    color: #7f7f7f;
    font-size: 13px;
    font-weight: 500;
    padding-top: 3px;
}
.profileActivityTitle {
    color: #1cca92;
    cursor: pointer;
}
.profileActivityTitle:hover {
    text-decoration: underline;
}
.profileActivitySeparator {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 10px 0;
}
.profileActivityConfirmButton {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 13px;
    padding: 5px 12px;
}
.profileMapButton {
    position: absolute;
    right: 2%;
    top: 8%;
    transform: translateY(-50%);
    font-size: 13px;
    padding: 5px 12px;
    border-radius: 20px !important;
}
.profileActivityDescription {
    color: #7f7f7f;
    font-size: 12px;
    font-weight: 500;
    padding-top: 3px;
}
.activityTextWrapDiv {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}
/* Right sidebar */
.passportCountriesContainer {
    padding-bottom:2px;
    overflow: hidden;
}
.passportCountryContainer {
    padding: 10px 20px;
    border-top: 1px solid #f3f3f3;
    transition:all .2s ease;
    cursor:pointer;
}
.passportCountryContainer:hover {
    background: #f8f8f8;
}
.passportCountryContainer img {
    height: 30px;
    width: 45px;
    float: right;
    border-radius: 15px;
}
.passportCountryContainer h2 {
    font-size: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: 500;
    color: rgba(0,0,0,0.85);
    float: left;
}
#profileMapCard{
    border-radius: 15px;
    margin-bottom: 10px;
    overflow:hidden;
}
#profileMap{
    width: 100%;
    height:300px;
}
/* Hide, show and rearrange elements for mobile */
@media only screen and (max-width: 1160px) {
    .profileMainInfoContainer h1{
        font-size: 15px;
        width:100%;
    }
    .profileMainInfoContainer h2{
        font-size: 12px;
    }
    .profileActivitiesContainer .genericConfirmButton{
        padding: 3px 14px;
        font-size: 13px;
    }
    .profileHeaderContainer .genericConfirmButton{
        padding: 3px 14px;
        font-size: 13px;
    }
    .userNameInfoRow{
        width:100%;
    }
}
@media only screen and (max-width: 1070px) {
    .leftSidebarContainer{
      float: right;
    }
    .centreContainer {
        width: calc(100% - 279px);
        float: left;
        margin-left: 0;
    }
    .rightSidebarContainer {
        float: right;
        margin-top: 10px;
    }
}
@media only screen and (max-width: 850px) {
    .leftSidebarContainer{
        float: none;
        width:100%;
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        box-ordinal-group: 2;
        margin:0;
        margin-top: 10px;
    }
    .centreContainer {
        float: none;
        width:100%;
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        box-ordinal-group: 1;
        margin:0;
    }
    .rightSidebarContainer {
        float: none;
        width:100%;
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        box-ordinal-group: 3;
        margin:0;
        margin-top: 10px;
    }
    .profileContainer{
        display: -webkit-box;
        display: -moz-box;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        width: calc(100% - 20px);
    }
    .profileActivitiesContainer{
        margin:0;
        margin-top: 10px;
    }
    .profileBanner{
        height: 200px;
    }
    .userNameInfoRow{
        flex: 0 0 auto !important;
    }
    .userNameInfoRow h1{
        text-align: center;
        font-size: 16px;
    }
    .userNameInfoRow h2{
        text-align: center;
    }
    .profileActivitiesContainer h2{
      padding-top: 2px;
    }
}
