/* -- Main Containers ---- */
.profileBanner {
    width: 100%;
    height: 300px;
    background: url(../../images/user_banner.jpg) no-repeat center center;
    background-size: cover;
}
.profileContainer {
  width: calc(100% - 40px);
  max-width: 1230px;
  margin: 0 auto;
  display: block;
  position: relative;
  top: -56px;
}
.leftSidebarContainer {
  width: 269px;
  float: left;
}
.rightSidebarContainer {
  width: 269px;
  float: right;
}
.centreContainer {
    width: calc(100% - 558px);
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
.profileModule {
    width:100%;
    background:white;
    border-radius: 14px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
    overflow: hidden;
}
.profileModule h1 {
    font-size: 17px;
    padding: 20px;
    color: rgba(0,0,0,0.85);
}

/* -- Content containers ---- */
/* Left Sidebar */
.profileInfoContainer {
    padding: 20px;
    margin: auto;
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
    border-radius: 14px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
}
.profileInfoContainer hr {
    border: 0;
    height: 0;
    border-top: 1px solid #dedede;
    border-bottom: none;
    margin: 5px;
}
.profileInfoContainer h3 {
    font-weight: 500;
}
/* Centre */
.profileHeaderContainer {
    width: 100%;
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
    border-radius: 14px;
    position: relative;
    margin: auto;
}
.profileMainInfoIcon {
    padding: 16px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #1cca92;
    fill: white;
    float: left;
    margin:20px;
    text-align: center;
}
.profileMainInfoContainer {
    float: left;
    margin-top: 36px;
}
.profileMainInfoContainer h1 {
    font-size: 18px;
}
.profileMainInfoContainer h2 {
    color: #7f7f7f;
    font-size: 13px;
    font-weight: 500;
    padding-top: 3px;
}
.profileHeaderContainer .genericConfirmButton {
    position: absolute;
    padding: 6px 16px;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.profileActivitiesContainer {
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
    border-radius: 14px;
    position: relative;
    margin-top: 10px;
    padding: 20px;
    line-height: 30px;
    margin-bottom: 50px;
}
.profileActivitiesContainer h2 {
    text-align: center;
    padding-left: 90px;
}
.profileActivitiesContainer h3 {
    font-size: 17px;
}
.profileActivitiesContainer .genericConfirmButton {
    padding: 6px 16px;
    float: right;
}
.activityTypesList {
    margin-left: 40px;
    margin-bottom: 15px;
}
.activityTypesList li {
    font-size: 14px;
}
.activitySummaryContainer {
    line-height: 20px;
    margin-top: 13px;
    position: relative;
    height: 50px;
}
.profileActivitiesContainer h4 {
    color: #7f7f7f;
    font-size: 13px;
    font-weight: 500;
    padding-top: 3px;
}
.profileActivityTitle {
    color: #1cca92;
    cursor: pointer;
}
.profileActivityTitle:hover {
    text-decoration: underline;
}
.profileActivitySeparator {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 10px 0;
}
.profileActivityConfirmButton {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    padding: 5px 12px;
}
.profileActivityDescription {
    color: #7f7f7f;
    font-size: 12px;
    font-weight: 500;
    padding-top: 3px;
}
.activityTextWrapDiv {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}
/* Right sidebar */
.passportCountriesContainer {
    padding-bottom:2px;
    overflow: hidden;
}
.passportCountryContainer {
    padding: 10px 20px;
    border-top: 1px solid #f3f3f3;
    transition:all .2s ease;
    cursor:pointer;
}
.passportCountryContainer:hover {
    background: #f8f8f8;
}
.passportCountryContainer img {
    height: 30px;
    width: 45px;
    float: right;
    border-radius: 15px;
}
.passportCountryContainer h2 {
    font-size: 16px;
    padding-top: 6px;
    padding-bottom: 5px;
    font-weight: 500;
    color: rgba(0,0,0,0.85);
    float: left;
}
