/* -- General ---- */
.searchUserWrapper {
    text-align: center;
    margin-top: 9px;
}

.searchUserContainer {
    display: inline-block;
}


/* -- Input fields ---- */
.inputSearchBox {
    border: 1px solid grey;
    height: 25px;
    width: 46%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
    float: left;
    margin-left: 15px;
}

.searchDropdownMenu {
    height: 36px;
    float: left;
    margin-left: 6px;
    font-size: 12px;
    width: 107px;
}

.inputSearchBox:hover, .inputSearchBox:focus {
    border: 1px solid #009688;
    background-color: white;
}


/* -- Icon's styling ---- */
.searchIcon {
    top: 8px;
    left: 8px;
    width: 14px;
    margin-left: 6px;
    float: left;
    margin-top: 8px;
    cursor: pointer;
}