/* -- General ---- */
@import "https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css";
@import "https://fonts.googleapis.com/css?family=Material+Icons";

input, select, textarea {
    border: initial !important;
    border-radius: 0 !important;
}

.searchUserWrapper {
    width: calc(100% - 30px);
    margin: 50px auto;
    max-width: 1000px;
}

.searchUserContainer {
    margin: 0 auto;
    border-radius: 14px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.20);
}

.mainRow {
    flex-wrap: nowrap;
}

.columnContainer {
    min-width: 300px;
    max-width: 100%;
}

.searchActivityCard {
    border-radius:14px;
    padding:8px;
}

.searchHeader {
    text-align: center;
}

.searchTab {
    text-transform: none;
}

.searchFilterContainer {
    min-width: 300px;
    max-width: 100%;
}

.activityFilterCard {
    border-radius:14px;
    padding:8px 15px;
}

.activityFilterHeading {
    margin-bottom:22px;
}

.activityFilterMethodLabel {
    margin-right: 5px;
}

.filterMethodInfo {
    color: white;
}

/* -- Input fields ---- */
.inputSearchBox {
    border-radius: 20px;
    font-size: 14px;
    background: #ffffff;
    outline: none;
    border: 1px solid #d8d8d8;
    padding: 10px 15px;
    resize: none;
}

.searchDropdownMenu {
    border-radius: 20px;
    font-size: 14px;
    background: #ffffff;
    outline: none;
    border: 1px solid #d8d8d8;
    padding: 10px 15px;
    resize: none;
}

.searchDropdownMenu:hover, .searchDropdownMenu:focus {
    border: 1px solid #1cca92;
}

.inputSearchBox:hover, .inputSearchBox:focus {
    border: 1px solid #1cca92;
    background-color: white;
}

.searchMoreButton {
    margin-top: 10px;
}

.activeFilter {
    color: #1cca92;
}

.queryInput {
    margin-top: 20px;
}

/* -- Icon's styling ---- */
.searchIcon {
    top: 8px;
    left: 8px;
    width: 14px;
    margin-left: 6px;
    float: left;
    margin-top: 8px;
    cursor: pointer;
}
.searchHeading {
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
}
.v-toolbar__content{
    display: none !important;
}

.filterIcon {
    font-size: 20px;
}

@media only screen and (max-height: 680px) {
    .searchUserWrapper .columnContainer{
        width:100% !important;
    }
}