/* -- General ---- */
.searchUserWrapper {
    width: calc(100% - 30px);
    margin: 50px auto;
    max-width: 900px;
}

.searchUserContainer {
    margin: 0 auto;
    border-radius: 14px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
}
.searchRow {
}

/* -- Input fields ---- */
.inputSearchBox {
    border-radius: 20px;
    font-size: 14px;
    background: #ffffff;
    outline: none;
    border: 1px solid #d8d8d8;
    padding: 10px 15px;
    resize: none;
}

.searchDropdownMenu {
    border-radius: 20px;
    font-size: 14px;
    background: #ffffff;
    outline: none;
    border: 1px solid #d8d8d8;
    padding: 10px 15px;
    resize: none;
}

.searchDropdownMenu:hover, .searchDropdownMenu:focus {
    border: 1px solid #1cca92;
}

.inputSearchBox:hover, .inputSearchBox:focus {
    border: 1px solid #1cca92;
    background-color: white;
}

/* -- Icon's styling ---- */
.searchIcon {
    top: 8px;
    left: 8px;
    width: 14px;
    margin-left: 6px;
    float: left;
    margin-top: 8px;
    cursor: pointer;
}