/* -- Outer container ---- */
.signUpContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 30px);
    max-width: 380px;
}
.signUpContainer h4 {
    text-align: center;
    color: #9eabbb;
    font-size: 14px;
    padding-top: 18px;
}
.signUpContainer h4 a {
    color: #1dca92;
    font-weight: 500;
    text-decoration: none;
}

/* -- Form container ---- */
.signUpFormContainer {
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
    background-color: var(--v-component-base);
}
/* Rows */
.signUpRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.signUpRow textarea{
    height:60px;
}
.signUpRow > input:first-child {
    margin-right:15px;
}
/* Elements */
.signUpHalfWidthInput{
    width:calc(50% - 7.5px) !important;
}
.signUpFormContainer h1 {
  font-size: 20px;
  color: var(--v-textPrimary-base);
  text-align: center;
  margin-bottom: 7px;
}
.signUpFormContainer h2 {
  font-size: 13px;
  color: #808080;
  padding-bottom: 20px;
  text-align: center;
}
.signUpFormContainer input, .signUpFormContainer select, .signUpFormContainer textarea {
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid var(--v-secondary-base) !important;
    border-radius: 21px !important;
    background-color: var(--v-component-base);
}
.signUpFormContainer input:-webkit-autofill,
.signUpFormContainer input:-webkit-autofill:hover,
.signUpFormContainer input:-webkit-autofill:focus,
.signUpFormContainer input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px var(--v-component-base) inset !important;
    -webkit-text-fill-color: var(--v-primaryText-base) !important;
    caret-color: var(--v-primaryText-base) !important;
}

.signUpFormContainer input:focus,
.signUpFormContainer select:focus,
.signUpFormContainer textarea:focus {
    border: 1px solid var(--v-primary-base) !important;
}

.signUpInputBirthday {
    padding: 8px 12px;
}
.signUpInput {
    margin-right:0 !important;
}
.signUpText {
    color: #777777;
    font-size: 13px;
    font-weight: 400;
    padding-right: 15px;
    padding-left: 15px;
    padding-top:11px;
}
.fitnessLevelSelect {
    width: calc(100% - 109px) !important;
}
.signUpFormContainer hr {
    border: 0;
    height: 0;
    border-top: 1px solid #dedede;
    border-bottom: none;
    margin-top: 10px;
}
.loginButton {
  padding: 5px;
  margin: 15px auto 0;
}

#submissionErrorText {
  font-weight: 600;
  font-size: 15px;
  color: #f06a6a;
  margin-bottom: 19px;
  margin-left: 10px;
}

@media only screen and (max-height: 935px) {
  .signUpContainer {
    position: relative;
    margin:30px auto;
    left:0;
    top:0;
    transform: none;
  }
}
